* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'AdobeClean';
    transition: all 0.3s;
}

body {
    padding: 30px 0px;
    font-family: Arial, sans-serif;
    background-color: #161515;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.logo {
    width: 150px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.input-section,
.mood-section {
    margin-bottom: 15px;
}

.input-label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}

input[type="file"],
select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

select {
    cursor: pointer;
}

.colors-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.color-box {
    cursor: pointer;
    flex: 1;
    padding: 10px 0;
    color: black;
    overflow: hidden;
}

.color-box.dark {
    color: white;
}

.color-box:hover {
    flex: 2;
}

.color-box * {
    opacity: 0;
}

.color-box:hover * {
    opacity: 1;
}

.canvas-container {
    margin-top: 20px;
}

canvas {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 100%;
    /* Prevent the canvas from exceeding its container */
    display: block;
    /* Remove extra space below the canvas */
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #555;
}

.copyright {
    color: #767676;
    font-size: 10px;
    margin-top: 5px;
}

.copyright a {
    color: #767676;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

#loading img {
    width: 100px;
    height: auto;
    animation: glow 1s infinite alternate;
}

#loading span {
    color: white;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0));
    }

    100% {
        filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
    }
}

.hidden {
    display: none !important;
}